.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
* {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.card-container {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 30px 20px 30px 20px;
  max-width: 400px;
  width: 80%;
}
.card-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

.card-description {
  color: #64748b;
  font-family: 'Roboto';
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
.card-image {
  width: 80px;
  align-self: flex-end;
  margin-top: 10px;
}
